* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


:root {
    /* colors */
    --osn: #ef5050;
    --bg_red: #f95b5b;
    --green_75: rgba(99, 190, 25, 0.75);
    --green_90: rgba(99, 190, 25, 0.90);
    --gray: #8a8a8a;
    --gray-light: #dedede;
    --white: #fefefe;
    --dark: #222222;
}


body img{
    cursor: zoom-in;
}




/*============================ Header starting ... ================================== */
header {


    background: var(--dark);
}

header .fa-tire {

    font-size: 60px;
    color: white;
    margin-left: -10px;
    margin-right: 20px;
}


header .fa-phone {
    transform: rotate(90deg);
    font-size: 30px;
    color: white;

    margin-top: -20px;
    margin-right: 10px;
    margin-left: -60px;


}

header h1 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 30px;
    color: var(--osn);

}

header h1 span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}

header p {
    margin-bottom: 20px;
    color: var(--gray);
    font-size: 13px;

}

header h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    color: white;
    font-size: 14px;
    text-transform: uppercase;

}

header .mt {
    margin-bottom: 0px;
    margin-top: -20px;

}

header .ml {
    margin-left: -50px;
}
header .ml a:hover {
  color: white;
  cursor: pointer;
}
header .icons {
    cursor: pointer;
    margin-left: -140px;
    font-size: 10px;
}

.fb {
    background: var(--osn);
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 10px 12px;
}

.tw {
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 10px;
}

.gg {
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 10px;
}

.inst{
    margin-right: 5px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    padding: 10px;
}

.inst:hover {
    background: var(--osn);
    transition: 500ms;
}

.gg:hover {
    background: var(--osn);
    transition: 500ms;
}

.tw:hover {
    background: var(--osn);
    transition: 500ms;
}

.fb:hover {
    background: var(--osn);
    transition: 0.5ms;
}

header a {
    color: white;
}

.active_links{
    background-color: #f95b5b;

    border-radius: 20px;
}
.tsh{
    text-shadow: 10px 10px 10px green;
}


/*============================ Header end ================================== */

/* ==================================== Main starting ... ================================ */
main {
    background: var(--dark);
}

main .jc {
    text-transform: uppercase;
    background-color: var(--osn);
    font-weight: 700;
    display: flex;
    text-align: start;
  

}

main ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: 35px;
    color: white !important;
}


main ul li a:hover {
    background: var(--bg_red);
    transition: 500ms;

}

.bw:hover{
    background: var(--bg_red);
    text-decoration: none;
}
main .fab {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 5px;
}

main .tg {
    color: white;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}


/* ==================================== Main end ================================ */

/*============================ Section start ================================== */
section {
    background: url(../images/car-men1.jpg)center center / cover no-repeat;
background-attachment: fixed;
    width: 100%;
    height: 330px;

}


section h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

section p {

    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 600;
}

section .liners::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 9px;


}

section .liners::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-bottom: 9px;
}

/*============================ Section end ================================== */






/*==================== article starting ... ===========================*/
article {

    display: flex;
    align-items: center;

}

article .big {
    max-width: 700px;
}

article .fa-check {

    color: red;
    margin-right: 10px;
}

article .img {
    width: 652px;
    height: 400px;

    margin-top: 80px;
    margin-bottom: 90px;
    border: none;
    border-radius: 10px;

    cursor: zoom-in;
}

article h2 {
    font-size:26px;
    color: #1d1b17;
    margin-top: 80px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
   
}


article .article_first_p {
    margin-top: 30px;
    color: #646464;
    font-size: 14px;
    font-weight: 500;
    max-width:95%;
    margin-bottom: 20px;
}
article .article_p {
    margin-top: -10px;
    color: #646464;
    font-size: 14px;
    font-weight: 500;
    max-width:100%;
    margin-bottom: 20px;
}

article h4 {
    text-transform: uppercase;
    line-height: 30px;
    max-width:100%;
    font-size: 15px;
    color: #1d1b17;
    font-weight: 800;
}
article .fa-map-marker-alt{
   font-size: 42px;
   color: var(--osn);
margin-right: 25px;
margin-top: 5px;
}

article .fa-phone-volume{
    font-size: 42px;
    color: var(--osn);
 margin-right: 25px;
 margin-top: 5px;
 
}

article .fa-envelope{
    font-size: 42px;
    color: var(--osn);
 margin-right: 25px;
 margin-top: 5px;
 
}

article .mapp{
    width: 100%;
  height: 75%;
  margin-bottom: 20px;
}


article h3{

   margin-top:0px;
    font-size: 24px;
    color:#3f3e3e ;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 30px;
}
article h5{
    
    font-size: 16px;
    color:black ;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 19px;
}

article .first_i{
    margin-right: 35px;
width: 300px;
    padding: 7px;
}

article .second_i{

    width: 300px;
    padding: 7px;
   
}

article .txt-area{
    width: 135%;
    height: 200px;
    padding: 7px;
}


article .com{
    margin-top: 5%;
}

article button {
    padding: 5px 20px ;
    background: var(--osn);
   border: none;
margin-top: 3%;

}
article button a{
    color: whitesmoke;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
article button a:hover{
    color: whitesmoke;
}









/* =================================================================== */
.pre_footer{
    margin-top: 100px;
    background-color: #ef5050;
    width: 100%;
    height: auto;
}

.logotype{
    padding: 20px 0;
}



/*============================================================= FOOTER STARTING... ===========================================================*/

footer{
    background-color: #1d1d1d;
    width: 100%;
    height: auto;
    color: white;
}

footer .koleso {
    margin-bottom: 20px;
    color: #bebebe;
    font-size: 13px;
    width: 150px;

}

footer .fot-inf{
    margin-bottom: 20px;
    color: #bebebe;
    font-size: 13px;
    max-width: 280px;
}


footer .fa-tire {

    font-size: 60px;
    color: white;
    margin-left: -10px;
    margin-right: 20px;
}
footer h1 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 30px;
    color: var(--osn);

}
footer .f_nam {
    margin-top: 30px;
   margin-bottom: 10px;
    font-size: 18px;
    

}

 footer h1 span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
}


.lat_news{
  
   
 margin-left: 20px;

    
    color: white;
}
footer .links{
   

    color: white;
    margin-bottom: 20px;
}
.galery{
    margin-top: 20px;
    color: white;
    height: auto;
    margin: 20px;
}

footer .local{
    display: flex;
   
    margin-top: 30px;
    text-align: center;
    align-content: center;
   
}

footer ul li a{
    
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    margin: 10px;
    text-decoration: none !important;
    
    
}
footer ul li a:hover{
  
    color: var(--osn);
    transition: 500ms;
   

}
footer ul li a .active{
  
    color: var(--osn);
  
}




footer p{
  
  
    font-size:13px ; 
    color: #bebebe;
}
footer p span{
    font-size:12px ; 
    color: var(--osn);
}

footer a{
    margin-top: 5px;
    color: #bebebe;
}
footer a:hover{

   text-decoration: none!important;
    color: #bebebe;
    color: #f95b5b;
}

footer .links{
    margin-left: -80px;
}

footer .galery{
    margin: 0;

}


    

footer .wbg{
 display: flex;

 align-items: center;
  cursor: pointer;
margin-left: -60px;
background-color: #ef5050;
    color: white;
    padding: 11.5px 32px;



}


footer .galcar{
    margin-top: 20px; 
    margin-bottom: 20px;
}

footer .form-control{
    width: 300px;
}

.little_cars{
    cursor: pointer;
    margin-left: 5px;

}



.end{
    width: 100%;
    height: auto;
    content: "";
    display: block;
    height: 2px;
    background:#727272;
margin-bottom: 20px;
margin-top: 50px;
}
@media (max-width: 9999px){
  

}


@media (max-width: 1199px){
    main ul li a {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        margin-right: 20px;
        color: white !important;
    }
    
    .img{
        max-width: 100%;
     max-height: auto;
    }
.img1{
    margin-left: 5%;

}

article .article_first_p {
    margin-top: 20px;
    color: #646464;
    font-size: 13px;
    font-weight: 600;
    max-width:100%;
    margin-bottom: 20px;
}
}





@media (max-width:991px){
    article .txt-area{
        width: 90%;
      
    }
    article .first_i{
        margin-right: 35px;
    width: 90%;
        padding: 7px;
    }
    article .second_i{
        width: 90%;
            width: 300px;
            padding: 7px;
           
        }
}
@media (max-width:1199px){

    article .first_i{
        margin-right: 35px;
        width: 250px;
        padding: 7px;
    }
    article .second_i{

            width: 250px;
            padding: 7px;
           
        }

}
    



@media (max-width:400px){
  article iframe{
      height: 250px;
  
  }
  article .mapp{ 
    width: 90%;
  height: 75%;
  margin-bottom: 20px;
}


.form-control{
    max-width: 250px;
}
}